/**
* Comments made to give better understanding of the styling done
* for the sidebar. Make a point of reference to avoid altering
* and messing up the styles.
*/
body{
  background: #FAF9F6;
}

main {
  min-height: 73vh;
}

.no-line {
  text-decoration-line: none;
}

.card-link {
  display: block;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-custom-color {
  background-color: #8cc41c;
}

.selected-skills-text {
  display: flex;
  flex-wrap: wrap;
}

.selected-skill {
  background-color: #8cc41c;
  color: #fff;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}

.remove-skill-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

/* Sidebar styling */
.sidebar {
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  transition: width 0.3s;
  text-decoration: none;
}

/* Toggling the minimization of the sidebar by reducing the width */
.minimized {
  width: 120px;
  margin-left: 0px;
}

/* Setting the display to cater for the sidebar */
.content {
  flex: 1;
  padding-left: 200px;
}

/* Readjusts the content to move to the left (-ve value used to make it possible) */
.sidebar-minimized {
  margin-left: -80px;
}

.toggle-button {
  position: fixed;
  top: 4px;
  left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: none;
  z-index: 1;
}
/*End of Sidebar Styling*/
.nav-link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 3px;
  background-color: #045484;
  transition: right 0.2s ease-in-out;
}

.nav-link:hover::before,
.nav-link:hover::after {
  right: 0;
}

/* FAQ Section */
.tab-title {
  border: none;
  box-shadow: 5px black;
  margin-bottom: 10px;
  padding: 30px;
  cursor: pointer;
}

.tab-title.active {
  color: white;
}

.toggle-icon {
  float: right;
}

.toggle-title {
  text-decoration: none;
  color: #333;
}

.tab-content {
  display: none;
  padding: 30px 0 0;
}

.tab-content.active {
  display: block;
}

.card-emp{ 
  max-width: 18rem;

}

.job-applications-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table-container {
  flex-grow: 1;
  margin-right: 20px;
}

.filter-container {
  width: 300px;
}

.filter-container > div {
  margin-bottom: 10px;
}

.bg-image-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bg-hero{
  position: relative;
}

.overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #045484;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.bg-faqs{
  background-color: #045484;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.icon{
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.icon:hover{
  background: white;
  color: green;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 180px;
    overflow: hidden;
    z-index: 1;
  }

  .minimized {
    width: 0;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar-minimized {
    margin-left: 0;
  }
}
