main{
  min-height: 73vh;
}

.no-line{
  text-decoration-line: none;
}

.card-link {
  display: block;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}